{% extends 'AppBundle::admin.html.twig' %}

{% block content -%}
    <h1>Country creation</h1>

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('youbrush_appbundle_admin_country_index') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
