/web/bundles/
/web/css/
/web/js/
/web/fonts/
/web-src/less/*.css
/web/uploads/*
/app/bootstrap.php.cache
/app/cache/*
/app/config/parameters.yml
/app/logs/*
/build/
/vendor/
/bin/
/composer.phar
/.idea/
*.php~
/bower_components/
/node_modules/
