<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <link rel="stylesheet" type="text/css" href="{{ asset('css/core.css') }}" />
        {% block styles %}{% endblock %}
    </head>
    <body {% block attributes_body %}{% endblock %}>
        {% block body %}{% endblock %}
        {% block core_javascripts %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
