{% extends 'AppBundle::admin.html.twig' %}

{% block content -%}
    <h1>{% if (entity.id) %}User edit{% else %}User creation{% endif %}</h1>

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('admin_user') }}">
            Back to the list
        </a>
    </li>
    {% if (entity.id) %}
    <li>{{ form(delete_form) }}</li>
    {% endif %}
</ul>
{% endblock %}
