{% extends 'AppBundle::admin.html.twig' %}

{% block content -%}
    <div class="content-header">
        <h1>User edit</h1>
    </div>

    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="box pad">

                    {{ form(edit_form) }}

                    <ul class="record_actions">
                        <li>
                            <a href="{{ path('youbrush_admin_user_index') }}">
                            Back to the list
                        </a>
                        </li>
                        <li>{{ form(delete_form) }}</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
